script(id="game-in-list-template", type='text/template')
	li.game-list-item
		.game-list-player-name {{ player }}
		.game-list-wait-time(data-time="{{ waitTime }}") 
		.join-button(data-id="{{ id }}") join