script(id="game-in-list-template", type='text/template')
	div.row
		.game-list-player-name {{ player }}
		.game-list-wait-time(data-time="{{ waitTime }}") 
		div(style="float:left;")
			.join-button.game-button.blue(data-id="{{ id }}") join