@import 'nib'

body, html
	width 100%
	height 100%
	font-family monospace
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: moz-none
	-ms-user-select: none
	user-select: none

#main-game-container
	display none

#game-container
	width 30%
	min-height 400px
	min-width 400px
	margin auto
	display inline-block

.global-game-cell
	position relative
	width @css{calc(33% - 8px)}
	border solid 1px #000
	display inline-block
	margin 3px	
	&:before
		content ""
		display block
		padding-top 100% 

.game-cell
	position relative
	width @css{calc(33% - 8px)}
	border solid 1px #000
	display inline-block
	margin 3px
	&:before
		content ""
		display block
		padding-top 100%		
	&:hover
		box-shadow 0 0 15px #F44
	&.cell-filled
		box-shadow 0 0 15px #0F0E0E

.game-field
	width @css{calc(33% - 15px)}
	position relative
	display inline-block
	padding 1px
	margin-top 15px
	margin-right 10px
	&.current-field
		box-shadow  0 0 15px #35E726		
		& .game-cell:hover
			box-shadow 0 0 15px #44FF8F
	&:before
		content: ""
		display: block
	&.winner-cross-field
		& div.game-cell
			box-shadow 0 0 15px #0A00FF
	&.winner-zero-field
		& div.game-cell
			box-shadow 0 0 15px #F44


.zero-cell
	border 4px solid #F44
	position absolute
	top @css{calc(4%)}
	left @css{calc(3%)}
	border-radius @css{calc(100%)}
	width @css{calc(83% - 4px)}
	height @css{calc(83% - 4px)}

.cross-cell
	width @css{calc(100%)}
	height 5px
	position absolute
	top calc(44%)
	left 0px
	background #0A00FF
	transform rotate(-45deg)
	&:after
		content ''
		width @css{calc(100%)}
		height @css{calc(100%)}
		background #0A00FF
		position absolute
		top 0px
		left 0px
		transform rotate(90deg)

#menu-container
	width @css{calc(20%)}
	height @css{calc(100%)}
	display inline-block
	position absolute
	top 0px

#global-field-container
	width 40%
	margin auto

	& > #global-game-field
		width 100%

#buttons-container
	height 20%

#switch-button
.game-button
	cursor pointer
	width 145px
	height 21px
	line-height 21px
	font-size 18px
	color white
	text-align center
	border-radius 9px
	position relative
	margin auto

#switch-button
	top 47px
	background #1A42FF

	&.network-game
		background #28A140

.game-button
	top 27px
	background #B35151

#game-over-container
	position absolute
	margin auto
	width @css{calc(35%)}
	height @css{calc(100%)}
	color #EBF31D
	font-size 15em
	text-align center
	background rgba(0, 0, 0, 0.2)
	z-index 10000
	display none

#right-menu-container, #player-list-container
	float left
	width 20%
			
