@import 'nib'

body, html
	width 100%
	height 100%
	margin 0
	padding 0
	background #1F253D
	font-family monospace
	user-select none

#main-menu-container
#main-game-container
	width 80%
	overflow hidden
	min-width 800px
	margin 0 auto
	padding 20px
	display none

#main-game-container
	text-align center

#game-container
	width 30%
	min-height 400px
	min-width 430px
	margin auto
	float left

#local-network-switcher
	position relative
	top 5px

not_allowed_cell = 0 0 15px #F44
allowed_cell = 0 0 15px #44FF8F

.game-cell, .global-game-cell
	position relative
	width 27%
	border solid 1px #222
	float left
	margin 3px
	background rgba(120, 129, 163, 0.85)
	&:before
		content ""
		display block
		padding-top 100%

.turn-not-allowed
	.game-cell:hover
		box-shadow not_allowed_cell !important
.turn-allowed
	.game-cell:hover
		box-shadow allowed_cell !important

.game-field
	width 30%
	min-width 130px
	position relative
	float left
	padding 1px
	margin-top 15px
	margin-right 10px
	& .game-cell
		&:hover
			box-shadow not_allowed_cell
		&.cell-filled
			box-shadow 0 0 15px #0F0E0E
	&.current-field
		& .game-cell
			background rgba(165, 177, 224, 0.85)
			&:hover
				box-shadow  allowed_cell
	&:before
		content: ""
		display: block
	&.winner-cross-field
		& div.game-cell
			box-shadow 0 0 15px #0A00FF
	&.winner-zero-field
		& div.game-cell
			box-shadow 0 0 15px #F44

.zero-cell
	border 4px solid #FF0029
	position absolute
	top @css{calc(4%)}
	left @css{calc(3%)}
	border-radius @css{calc(100%)}
	width @css{calc(83% - 4px)}
	height @css{calc(83% - 4px)}

.cross-cell
	width @css{calc(100%)}
	height 5px
	position absolute
	top calc(44%)
	left 0px
	background #0066FF
	transform rotate(-45deg)
	&:after
		content ''
		width @css{calc(100%)}
		height @css{calc(100%)}
		background #0066FF
		position absolute
		top 0px
		left 0px
		transform rotate(90deg)

#menu-container
	width 30%
	height 100%
	float left
	padding 10px 0px
	// text-align: left

#global-field-container
	width 40%
	margin 0px auto 15px auto
	overflow hidden

	& > #global-game-field
		width 100%

#buttons-container
	height 20%

.game-button
	width 140px
	cursor pointer
	height 31px
	line-height 28px
	font-size 12pt
	color white
	text-align center
	border-radius 6px
	margin auto
	&.red
		background #E64C65
		&:hover
			background #E05F74
	&.green
		background #05CF9D
	&.blue
		background #35AADC
		&:hover
			background #53B1DA

#game-over-container
	position absolute
	margin auto
	width @css{calc(35%)}
	height @css{calc(100%)}
	color #EBF31D
	font-size 15em
	text-align center
	background rgba(0, 0, 0, 0.2)
	z-index 10000
	display none

#game-not-supported-container
	display none

#game-menu-container
	float left

#start-game-button, .join-button
	position relative
	top 5px

#rival-name
	display none

#games-list
	list-style none

.game-list-item
	height 30px
	padding-top 10px
	margin-left 10px
	&:hover
		background #F1F1F1

.game-list-player-name, .game-list-wait-time
	margin-right 10%
	width 20%
	height 100%
	float left
	overflow: hidden

.game-list-player-name
	margin-left 15px

#back-button-container
	width 30%
	margin auto

.player-game-info
	height 20px

	& div
		float left
	#player-game-label, #rival-game-label
		height: 100%
		overflow hidden
		max-width @css{calc(100% - 45px)}
		min-width 91px

	& #cross-game-current-turn
		position relative
		width 30px
		height 36px
		margin-right 15px
		visibility hidden
		&.active
			visibility visible 

	& #zero-game-current-turn
		position relative
		width 30px
		height 30px
		margin-right 15px
		visibility hidden
		&.active
			visibility visible 


#player-names-container
	text-align left
	display inline-block

#games-list
	> .row
		cursor pointer
		margin-bottom 1px
		&:hover
			background #50597B

#modal-window
	position absolute
	top 0px
	width 100%
	height 100%
	display table

#modal-container
	display table-cell
	vertical-align middle

#modal-dark
	width 400px
	height 200px
	background #394264
	position relative
	margin auto
	border-radius 5px

#modal-fade
	position absolute
	width 100%
	height 100%
	top 0px
	left 0px
	background rgba(0, 0, 0, 0.5)

#modal-header
	background #11A8AB
	height 50px
	border-radius 5px 5px 0px 0px
	text-align center
	line-height 40px
	font-size 22px
	color #FFF

#modal-text
	height 35%
	text-align justify
	padding 15px
	font-size 16px
	color white

#modal-button-container
	height 30%
	text-align center
	> div
		display inline-block
		margin-right 20px

.container-dark
	margin auto
	width 500px
	height auto
	float left

.row-dark
	background #1F253D
	border-radius 5px
	width 200px
	margin auto
	float left

.row
	width 100%
	height 40px
	color white
	line-height 40px
	text-align center
	background #394264

.row-dark-header
	background #11A8AB
	color white
	font-size 14pt
	width 100%
	height 40px
	line-height 40px
	text-align center
	border-radius 5px 5px 0px 0px

input
	height 27px
	background #50597B
	color white
	border 0px
	border-radius 3px
	padding-left 5px
	&:focus
		outline-color #11A8AB

.divider
	width 20px
	height 1px
	float left