doctype 5
html
	head
		title Tic Tac Hack
		link(rel="stylesheet", href="./publish/css.css")
	body
		#main-menu-container
			#game-menu-container
				.container-dark
					.row-dark-header GAME LIST
					#games-list

				.divider

				.row-dark
					.row-dark-header SETTINGS
					.row
						#local-network-switcher.switch.has-switch
							input(type='checkbox', checked='', data-toggle='switch')
					.row
						input#player-name.player-name(type="text", value="player")
					.row
						input#rival-name.player-name(type="text", value="player")
					.row
						#start-game-button.game-button.blue Start Game

		#main-game-container
			#game-over-container GAME OVER
			#game-container
				- for (var i = 0; i < 9; ++i) {
				div(class="game-field game-field-" + i)
					- for (var j = 0; j < 9; ++j) {
					div(class="game-cell", data-field = i, data-cell = j)
					- }	
				- }				

			#menu-container
				#global-field-container
					div(class="game-field", id="global-game-field")
						- for (var i = 0; i < 9; ++i) {
						div(class="global-game-cell", data-field = i)
						- }	

				#player-names-container
					.row-dark
						.row-dark-header PLAYERS
						.player-game-info.row
							#cross-game-current-turn.active
								.cross-cell
							#player-game-label
						.player-game-info.row
							#zero-game-current-turn
								.zero-cell
							#rival-game-label
						.row
							#back-game-button.game-button.blue Back

		include templates/game-in-list-template
		include templates/modal-template
		
		script(type="text/javascript", data-main="javascripts/main.js", src="javascripts/libs/require.js")