doctype 5
html
	head
		link(rel="stylesheet", href="./publish/css.css")
	body
		#main-menu-container
			#player-list-container
				ul#player-list
					li 1
					li 2
					li 3
			#right-menu-container
				#buttons-container
					input#local-network-switcher(type='checkbox', checked='true')
					label Network
				#start-game-button.game-button Start Game

		#main-game-container
			#game-over-container GAME OVER
			#game-container
				- for (var i = 0; i < 9; ++i) {
				div(class="game-field game-field-" + i)
					- for (var j = 0; j < 9; ++j) {
					div(class="game-cell", data-field = j, data-cell = i)
					- }	
				- }				

			#menu-container
				#global-field-container
					div(class="game-field", id="global-game-field")
					- for (var i = 0; i < 9; ++i) {
					div(class="game-cell", data-field = i)
					- }	

				#buttons-container
					#back-game-button.game-button Back

		script(type="text/javascript", data-main="javascripts/main.js", src="javascripts/libs/require.js")