doctype 5
html
	head
		title Tic Tac Hack
		link(rel="stylesheet", href="./publish/css.css")
	body
		#main-menu-container
			#player-list-container
				ul#games-list
			#right-menu-container
				#buttons-container
					#local-network-switcher.switch.has-switch
						input(type='checkbox', checked='', data-toggle='switch')

				#start-game-button.game-button Start Game
				input#player-name.player-name(type="text", value="player 1")
				input#rival-name.player-name(type="text", value="player 2")

		#main-game-container
			#game-over-container GAME OVER
			#game-container
				- for (var i = 0; i < 9; ++i) {
				div(class="game-field game-field-" + i)
					- for (var j = 0; j < 9; ++j) {
					div(class="game-cell", data-field = i, data-cell = j)
					- }	
				- }				

			#menu-container
				#global-field-container
					div(class="game-field", id="global-game-field")
						- for (var i = 0; i < 9; ++i) {
						div(class="global-game-cell", data-field = i)
						- }	

				.player-game-info
					#cross-game-current-turn.active
						.cross-cell
					label#player-game-label player 1 name
				.player-game-info
					#zero-game-current-turn
						.zero-cell
					label#rival-game-label player 2 name

				#back-button-container
					#back-game-button.game-button Back

		include templates/game-in-list-template
		
		script(type="text/javascript", data-main="javascripts/main.js", src="javascripts/libs/require.js")