doctype 5
html
	head
		link(rel="stylesheet", href="./publish/css.css")
	body
		#game-container
			div(class="game-field game-field-0")
				div(class="game-cell", data-field="0", data-cell="0")
				div(class="game-cell", data-field="0", data-cell="1")
				div(class="game-cell", data-field="0", data-cell="2")
				div(class="game-cell", data-field="0", data-cell="3")
				div(class="game-cell", data-field="0", data-cell="4")
				div(class="game-cell", data-field="0", data-cell="5")
				div(class="game-cell", data-field="0", data-cell="6")
				div(class="game-cell", data-field="0", data-cell="7")
				div(class="game-cell", data-field="0", data-cell="8")
			div(class="game-field game-field-1")
				div(class="game-cell", data-field="1", data-cell="0")
				div(class="game-cell", data-field="1", data-cell="1")
				div(class="game-cell", data-field="1", data-cell="2")
				div(class="game-cell", data-field="1", data-cell="3")
				div(class="game-cell", data-field="1", data-cell="4")
				div(class="game-cell", data-field="1", data-cell="5")
				div(class="game-cell", data-field="1", data-cell="6")
				div(class="game-cell", data-field="1", data-cell="7")
				div(class="game-cell", data-field="1", data-cell="8")
			div(class="game-field game-field-2")
				div(class="game-cell", data-field="2", data-cell="0")
				div(class="game-cell", data-field="2", data-cell="1")
				div(class="game-cell", data-field="2", data-cell="2")
				div(class="game-cell", data-field="2", data-cell="3")
				div(class="game-cell", data-field="2", data-cell="4")
				div(class="game-cell", data-field="2", data-cell="5")
				div(class="game-cell", data-field="2", data-cell="6")
				div(class="game-cell", data-field="2", data-cell="7")
				div(class="game-cell", data-field="2", data-cell="8")
			div(class="game-field game-field-3")
				div(class="game-cell", data-field="3", data-cell="0")
				div(class="game-cell", data-field="3", data-cell="1")
				div(class="game-cell", data-field="3", data-cell="2")
				div(class="game-cell", data-field="3", data-cell="3")
				div(class="game-cell", data-field="3", data-cell="4")
				div(class="game-cell", data-field="3", data-cell="5")
				div(class="game-cell", data-field="3", data-cell="6")
				div(class="game-cell", data-field="3", data-cell="7")
				div(class="game-cell", data-field="3", data-cell="8")
			div(class="game-field game-field-4")
				div(class="game-cell", data-field="4", data-cell="0")
				div(class="game-cell", data-field="4", data-cell="1")
				div(class="game-cell", data-field="4", data-cell="2")
				div(class="game-cell", data-field="4", data-cell="3")
				div(class="game-cell", data-field="4", data-cell="4")
				div(class="game-cell", data-field="4", data-cell="5")
				div(class="game-cell", data-field="4", data-cell="6")
				div(class="game-cell", data-field="4", data-cell="7")
				div(class="game-cell", data-field="4", data-cell="8")
			div(class="game-field game-field-5")
				div(class="game-cell", data-field="5", data-cell="0")
				div(class="game-cell", data-field="5", data-cell="1")
				div(class="game-cell", data-field="5", data-cell="2")
				div(class="game-cell", data-field="5", data-cell="3")
				div(class="game-cell", data-field="5", data-cell="4")
				div(class="game-cell", data-field="5", data-cell="5")
				div(class="game-cell", data-field="5", data-cell="6")
				div(class="game-cell", data-field="5", data-cell="7")
				div(class="game-cell", data-field="5", data-cell="8")
			div(class="game-field game-field-6")
				div(class="game-cell", data-field="6", data-cell="0")
				div(class="game-cell", data-field="6", data-cell="1")
				div(class="game-cell", data-field="6", data-cell="2")
				div(class="game-cell", data-field="6", data-cell="3")
				div(class="game-cell", data-field="6", data-cell="4")
				div(class="game-cell", data-field="6", data-cell="5")
				div(class="game-cell", data-field="6", data-cell="6")
				div(class="game-cell", data-field="6", data-cell="7")
				div(class="game-cell", data-field="6", data-cell="8")
			div(class="game-field game-field-7")
				div(class="game-cell", data-field="7", data-cell="0")
				div(class="game-cell", data-field="7", data-cell="1")
				div(class="game-cell", data-field="7", data-cell="2")
				div(class="game-cell", data-field="7", data-cell="3")
				div(class="game-cell", data-field="7", data-cell="4")
				div(class="game-cell", data-field="7", data-cell="5")
				div(class="game-cell", data-field="7", data-cell="6")
				div(class="game-cell", data-field="7", data-cell="7")
				div(class="game-cell", data-field="7", data-cell="8")
			div(class="game-field game-field-8")
				div(class="game-cell", data-field="8", data-cell="0")
				div(class="game-cell", data-field="8", data-cell="1")
				div(class="game-cell", data-field="8", data-cell="2")
				div(class="game-cell", data-field="8", data-cell="3")
				div(class="game-cell", data-field="8", data-cell="4")
				div(class="game-cell", data-field="8", data-cell="5")
				div(class="game-cell", data-field="8", data-cell="6")
				div(class="game-cell", data-field="8", data-cell="7")
				div(class="game-cell", data-field="8", data-cell="8")

		#menu-container
			#buttons-container
				#new-game-button New Game
				#switch-button Game
			#global-field-container
				div(class="game-field", id="global-game-field")
					div(class="global-game-cell", data-cell="0")
					div(class="global-game-cell", data-cell="1")
					div(class="global-game-cell", data-cell="2")
					div(class="global-game-cell", data-cell="3")
					div(class="global-game-cell", data-cell="4")
					div(class="global-game-cell", data-cell="5")
					div(class="global-game-cell", data-cell="6")
					div(class="global-game-cell", data-cell="7")
					div(class="global-game-cell", data-cell="8")

		script(type="text/javascript", data-main="javascripts/main.js", src="javascripts/libs/require.js")