doctype 5
html
	head
		title Tic Tac Hack
		link(rel="stylesheet", href="./publish/css.css")
	body
		#main-menu-container
			#player-list-container
				ul#games-list
			#right-menu-container
				#buttons-container
					//- input#local-network-switcher(type='checkbox', checked='true')
					.switch.has-switch
						.switch-on.switch-animate
							input(type='checkbox', checked='', data-toggle='switch')
							span.switch-left ON
							label  
							span.switch-right OFF

					label(for="local-network-switcher") Network
				#start-game-button.game-button Start Game
				input#player1-name.player-name(type="text", value="player 1")
				input#player2-name.player-name(type="text", value="player 2")

		#main-game-container
			#game-over-container GAME OVER
			#game-container
				- for (var i = 0; i < 9; ++i) {
				div(class="game-field game-field-" + i)
					- for (var j = 0; j < 9; ++j) {
					div(class="game-cell", data-field = i, data-cell = j)
					- }	
				- }				

			#menu-container
				#global-field-container
					div(class="game-field", id="global-game-field")
						- for (var i = 0; i < 9; ++i) {
						div(class="global-game-cell", data-field = i)
						- }	

				#buttons-container
					#back-game-button.game-button Back

		include templates/game-in-list-template
		
		script(type="text/javascript", data-main="javascripts/main.js", src="javascripts/libs/require.js")